.venv/
__pycache__/
*.py[cod]
*.so
.Python

*.egg-info/
.eggs/
build/
dist/
*.spec
pip-wheel-metadata/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

*.log
